@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300&family=Montserrat:wght@100&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300&family=Montserrat:wght@100&family=Prompt:wght@200;300&family=Varela+Round&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Varela Round', sans-serif;

  font-family: 'Heebo', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Prompt', sans-serif;
  font-family: 'Varela Round', sans-serif;
}

body{
  margin: 0;
  background-color: #BDF2ED;
}

.navbar{
  background-color: white;
  color: black;
  display: flex;
  justify-content:space-between;
  align-items: stretch;
  gap: 1rem;
  padding: .50rem 1rem;
  user-select: none;
}

.navbar a {
  text-decoration: none;
  color: inherit; 
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.navbar_register{
  background-color: #AAF0FF;
  padding: 5px 15px;
  border-radius: 10px;
}

.navbar ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar li:hover{
  background-color: aliceblue;
} 

.navbar_logout{
  cursor: pointer;
}

.topsection-serch{
  margin: 100px;
  text-align: center;
}

input {
  padding: 10px;
  font-size: 17px;
  margin-right: -1px;
}
input:focus{
  outline: none;
}

button {
  background-color: #75DFF6;
  padding: 10px;
  font-size: 16px;
  margin-right: -1px;
	user-select: none;
  border: 1px solid #000000;
  cursor: pointer;
}

.bottomsection-serch{
  background-color: white;
  margin: 4rem;
  padding: 3rem;
  border-radius: 60px 60px 0px 0px;
  /* position: absolute;
  bottom: 0;
  min-height: calc(100% - 15rem);
  margin: 0 calc(20%); */
}

.patient{
  background-color: white;
  margin: 4rem;
  padding: 3rem;
  border-radius: 60px;
  bottom: 0;
}

.patient-top{
  align-items: center;
  display: grid;
  grid-template-columns: 20% 80%;
}

.patient-table{

}

table{
  border-collapse: collapse;
  width: 100%;
}

table tr{
  border-bottom: 1px solid #ddd;
  /* border-left: 1px solid #ddd;
  border-right: 1px solid #ddd; */
}

table tr:hover {
  background-color: rgb(251, 251, 251);
}

table tr th {
  text-align: left;
  color: #157B82;
  padding: 1rem 2rem;
  background-color: #D7F8F8;
}

table tr td {
  text-align: left;
  line-height: 3rem;
  padding: .5rem 2rem;
  /* background-color: #E5FDFD; */
  /* padding: 5px 0px 5px 10px; */
}

.moreinfo-button{
  background-color: #AAF0FF;
  border: none;
  padding: .5rem 2rem;
}

.moreinfo-button:hover{
  background-color: #43ddff;
}

.patient-table table{
  border-collapse:separate;
  width: 20%
}

.patient-table table tr{
  border-bottom: none;
  /* border-left: 1px solid #ddd;
  border-right: 1px solid #ddd; */
}

.patient-table table tr th {
  color: black;
  padding: .25rem .5rem;
  background-color: white;
}

.patient-table table tr td {
  line-height: 2rem;
  padding: 0rem 1rem;
  background-color:#D9D9D9;
  /* background-color: #E5FDFD; */
  /* padding: 5px 0px 5px 10px; */
}

.patient-tab{
  display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.patient-tab input[type="radio"]{
  display: none;
}

.patient-tab label{
  overflow-x: auto;
  padding: 15px 25px;
  border-radius: 0px 0px 0px 0px;
  background:#DCF7F5;
  cursor: pointer;
  /* width: 25%; */
}


.patient-tab .tab{
  background: rgb(255, 255, 255);
  padding: 40px;
  max-width: fit-content;
  order: 1; 
  /* order is position of [] -> 0 1 2 st nd rd */
  display: none;
  
}

.patient-tab input[type="radio"]:checked + label + .tab{
  display: block;
}

.patient-tab input[type="radio"]:checked + label{
  background:#7FEEE8;
  color: black;
  border-bottom: 3px solid #29B8D8!important;
  
}
.patient-tab label:hover{
  color: #29B8D8;
  border-bottom: 2px solid #29B8D8!important;
  
}
.tab{
  box-shadow: 0 0.5rem 0.8rem ;
}

.intab{
  display: grid;
  grid-template-columns: 20% 20%;
  /* display: flex; */
  width: 76rem
}

.patient-table-intab table{
  border-collapse:separate;
  width: 100%
}

.patient-table-intab tr{
  border-bottom: none;
  /* border-left: 1px solid #ddd;
  border-right: 1px solid #ddd; */
}

.patient-table-intab table tr th {
  color: black;
  padding: .25rem .5rem;
  background-color: white;
}

.patient-table-intab table tr td {
  line-height: 2rem;
  padding: 0rem 1rem;
  background-color:#D9D9D9;
  /* background-color: #E5FDFD; */
  /* padding: 5px 0px 5px 10px; */
}

h1{
  margin: 3rem  0rem 0rem 4rem;
}

h2 {
	font-size: 35px;
}
